/* Global 변수 지정 */
:root{
    /* Font size */
    --font-large:48px;
    --font-midium:28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro:14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    --size-border-radius:4px;

    --animation-duration: 300ms;
}

/* Universal tags */
*{
    box-sizing: border-box;
}

h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: black;
    margin: 16px 0px 0 0 ; 
    /* 상 우 하 좌  */
}

h2{
    font-size: var(--font-midium);
    font-weight: var(--weight-semi-bold);
    color: black;
    margin: 8px 0px 0 0 ;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: black;
    margin: 8px 0px 0 0 ;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: black;
    margin: 4px 0px 0 0 ;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a{
    text-decoration: none;
    color: white
}

ul{
    list-style: none;
}

li{
    list-style: none;

}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}


/* Navbar */

#navbar{
    display: flex;
    justify-content: space-between;
    background-color:#6b778d;
    color: white;
    align-items: center;
    padding: 16px;
}
.navbar_logo{
    font-size: var(--font-midium);
    font-weight: var(--weight-semi-bold);
}
.navbar_menu{
    display: flex;
}
.navbar_menu_item{
    padding: 8px 12px;
    margin-right: 0 4px
}

.navbar_menu_item.active{
    border: 1px solid white;
    border-radius: var(--size-border-radius);
}

.navbar_menu_item:hover{
    background-color: #263859;
    border-radius: var(--size-border-radius);
}

#home{
    background-color: #17223b;
    height: 60vh;
    width: 100vw;
    text-align: center;
    
}

.home__avatar{
    height: 30vh;
    width: 22vh;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    margin-top: 10px;
}

.home__title, .home__description{
    color: whitesmoke;
}

.home__contact{
    color: whitesmoke;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid  white;
    border-radius: var(--size-border-radius);
    
}

section{
    text-align: center;
    padding: 50px;
    margin:auto;
}

#about{
    max-width: 1200px;
}
.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major_icon{
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    border: 1px solid black;
    border-radius: var(--size-border-radius);
    margin-bottom: 16px;
    margin: auto;

}
.major_icon i{
    transition: 300ms;
}
/* hover 되었을 떄 image만 변화를 주겠다는 코드 */
.major_icon:hover i{
    color: rgba(255,103,104,1);
    transform: rotate(-30deg) scale(1.1);

}
.major{
    width: 380px;
    height: 224px;
}

.history{
    display: flex;
    align-items: center;
    justify-content: center;
}
.history__description{
    margin: 0 16px;
    /* text-align: left; */
}
.history__name{
    font-size: var(--font-small);
}
.history__period{
    font-size: var(--font-micro);
}

.skill{
    margin-bottom: 8px;
}
#skills{
    background-color: #39AEA9;
}

#section__container{
    max-width: 1200px;
    margin: auto;
}

.skillset{
    display: flex;
    background-color: lightgrey;
    margin: 20px 0;

}

.skillset__left{
    flex-basis: 60%;
    background-color: darkgray;
    padding: 20px 40px;
}

.skillset__right{
    flex-basis: 40%;
    justify-content: center ;
}

.tools{
    background-color: gray;
    justify-content: center;
}

.skill__description{
    display: flex;
    justify-content: space-between;
}

.skill__bar{
    width: 100%;
    height: 3px;
    background-color:#E5EFC1;
}

.skill__value{
    height: 3px;
    /* 여기서 지정하면 각각의 퍼센트를 반영할 수 없기 때문에 html 코드에서 직접 작성해줄 것 */
    background-color:#557B83;
}

.tools, .etc{
    padding: 20px;
}

.skillset__title{
    margin-bottom: 8px;
}

.category__btn{
    border: 1px solid black;
    border-radius: var(--size-border-radius);
    padding: 8px 48px;
}

.work_categories{
    margin: 40px;
}

.catrogry__btn.active,
.category__btn:hover{
    background-color: #557B83;
    color: white;
}
.catrogry__btn.active .category__count,
.category__btn:hover .category__count{
    opacity: 1;
    top:0
}
/* display: inline-block 이유
  -> span은 컨텐츠를 꽉 채우는 속성
  동그라미 중앙으로 숫자 이동 시키려면
  -> line-height를 높이와 맞춰주면 됨
  */
.category__count{
    border-radius: 50%;
    background-color:darkorange;
    width:24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all;
    transition: all var(--animation-duration) ease-in;
}

.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: lightgray
}

.project__img{
    max-width: 100%;
    max-height: 100%;
}

.project__description{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    background-color: black;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description{
    opacity: 0.8;
    transform: translateY(0px)
}

.project__description h3:after{
    content: '';
    width: 25px;
    height: 2px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 8px;
    background-color: black ;
}

/* project를 relative으로 지정해야
.project__description이 aboluste로 지정했을 떄
project를 기준으로 위치를 지정함 */


#testimonials{
    background-color: #557B83;
}

.testimonials{
    margin: 40px;
}

.testimonial{
    display: flex;
}

.testimonial__avator{
    width: 150px;
    height: 150px;
}

.testimonial__avator:nth-child(odd){
    margin-right: 40px;
}
.testimonial__avator:nth-child(even){
    margin-left: 40px;
}
.testimonial .testimonial__speech-bubble{
    background-color: #A2D5AB;
    border-radius: var(--size-border-radius);
    padding: 15px;
    width: 100%;
    margin-top: 20px;
}

.testimonial__speech-bubble p{
    color: black

}
.testimonial__speech-bubble a{
    color: white

}

#contact{
    background-color: #E5EFC1;  
}

.contact__title,
.contact__email{
    color: white;
}

.contact__title{
    margin:  24px;
}

.contact__links{
    font-size: var(--font-large);
    margin: 24px;
}


.contact__links i:hover{
    transform: scale(1.2);
    color: black;
    transition: var(--animation-duration) ease-in;
}